<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ymjrhk.rbac.mapper.AuditLogMapper">
    <select id="pageQuery" resultType="com.ymjrhk.rbac.vo.AuditLogVO">
        select log_seq,
               username,
               permission_name,
               path,
               method,
               request_body,
               ip,
               success,
               error_message,
               create_time
        from sys_audit_log
        <where>
            <if test="username != null and username !=''">
                and username like concat('%', #{username}, '%')
            </if>
            <if test="permissionName != null and permissionName !=''">
                and permission_name like concat('%', #{permissionName}, '%')
            </if>
            <if test="success != null">
                and success = #{success}
            </if>
            <if test="startTime != null">
                and create_time <![CDATA[
                >=
                ]]> #{startTime}
            </if>
            <if test="endTime != null">
                and create_time <![CDATA[
                <=
                ]]> #{endTime}
            </if>
        </where>
        order by create_time desc
    </select>

    <insert id="insert" parameterType="AuditLog">
        insert into sys_audit_log (
            user_id,
            username,
            permission_id,
            permission_name,
            path,
            method,
            request_body,
            ip,
            success,
            error_message
        ) values (
            #{userId},
            #{username},
            #{permissionId},
            #{permissionName},
            #{path},
            #{method},
            #{requestBody},
            #{ip},
            #{success},
            #{errorMessage}
        )
    </insert>

</mapper>