<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ymjrhk.rbac.mapper.MeMapper">
    <select id="selectRolesByUserId" resultType="com.ymjrhk.rbac.vo.MeRoleVO">
        select r.role_id,
               r.role_name,
               r.role_display_name
        from sys_user_role ur
                 join sys_role r on ur.role_id = r.role_id
        where ur.user_id = #{userId}
          and r.status = 1
    </select>

    <select id="selectPermissionsByUserId" resultType="com.ymjrhk.rbac.vo.MePermissionVO">
        select distinct p.permission_id,
                        p.permission_name,
                        p.permission_display_name
        from sys_user_role ur
                 join sys_role r on ur.role_id = r.role_id
                 join sys_role_permission rp on r.role_id = rp.role_id
                 join sys_permission p on rp.permission_id = p.permission_id
        where ur.user_id = #{userId}
          and r.status = 1
          and p.status = 1
    </select>
</mapper>